* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
}

a {
    text-decoration: none;
    
}

img {
    height: 32px;
    width: 32px;
}

h1 {
  padding: 0.75rem 0;
  font-size: 2.4rem;
}

h3 {
  padding-bottom: 0.5rem;
  font-size: 1.3rem;
}

.subtitle {
    font-weight: 200;
}

p,
li {
  line-height: 1.8;
  font-size: 1.2rem;
  margin: auto;
}

li {
  list-style-type: none;
}

.container {
  width: 92%;
  margin: 0 auto;
  max-width: 1280px;
}

.section {
  padding-top: 3rem;
}

.resume-header {
  margin: 0 auto;
  padding-top: 3rem;
  height: 60vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2fr 1fr 2fr;
  grid-gap: 10px;
  height: 100%;
}

.image-container {
  grid-column: 2 / 6;
  background: url("/assets/pics/IMG_9044.jpg") center/cover no-repeat;
  grid-row: 1 / -1;
}

.name-container {
  grid-column: 7 / 10;
  grid-row: 1;
}

.subtitle-container {
  grid-column: 7 / 10;
  grid-row: 2;
 
}

.subtitle-container p {
    display: flex;
    font-weight: 200;
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
    margin: 0;

}

.subtitle-container p img {

    margin-right: 8px;
}

.work-history-title {
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.education-title {
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.resume-education {
  padding-bottom: 3rem;
}

.about-title {
  text-align: center;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.school-title {
  font-weight: bold;
  padding: 1% 0% 0% 0%;
}

.school-subtitle {
  font-weight: 100;
}
