

.title{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.subtitle{
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
}

.resume-image{
    height:20%;
    width: 20%;
   
}

.image-container{
    grid-area: image;
}

.name-container{
    grid-area: name;
}

.subtitle-container{
    grid-area: subtitle;
}

.grid-container{
    display: grid;
    grid-template-areas: 
    'name name'
    'image subtitle ';
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;

   
}

.flex-container div{
    padding: 20px;
}

.work-history-title{
    text-align: center;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.education-title{
    text-align: center;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-title{
    text-align: center;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.resume-education-content-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
.resume-header{
margin-left: 35%;
margin-right: 35%;
width: 30%;

}
*/
.resume-header-title{
        margin-left: 25%;
        margin-right: 25%;
}

.school-title{
    font-weight: bold;
    margin: 0%;
    padding: 1% 0% 0% 0%
}

.school-subtitle{
    font-weight: 100;
    margin: 0%;
}

/*
div{
    outline: 1px solid black;
}

section{
    outline: 1px solid blue;
}
*/